@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600,700&display=swap&subset=cyrillic');


// font-family: 'Montserrat Alternates', sans-serif;

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?w4hsv6');
  src:  url('../fonts/icomoon.eot?w4hsv6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w4hsv6') format('truetype'),
    url('../fonts/icomoon.woff?w4hsv6') format('woff');
    
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


.icon-arrow_back_ios:before {
  content: "\e900";
}
.icon-arrow_forward_ios:before {
  content: "\e901";
}
.icon-file-picture:before {
  content: "\e927";
}
