//general
$bg-btn-hover: rgba(255, 255, 255, 0.3);
$btn-color-default: #fff;
$btn-color-hover: rgb(30,30,30);
//general



//header
$bg-header:grey;
$navbar-menu-item: #fff;
$bg-navbarmenu-mob:rgba(0, 0, 0, 0.5);
$bg-menu-icon:#000;
$header-title: white;
$header-btn-color: #fff;
$bg-btn-hover: rgba(255, 255, 255, 0.3);

//header

//servicies
$servicies-title: rgb(30, 30, 30);
$servicies-text: rgb(212,229,212);
$bg-servicies-item:rgb(55,36,38);
//servicies

//about us
$bg-content-about: rgba(255,255,255, .4);
$about-color-default: rgb(30,30,30);
//about us

//team

$bg-team: rgb(235, 232, 232);
//slider
$bg-slider: rgba(255,255,255, .2);
$dots-default: rgb(194, 194, 194);
$dots-active: rgb(255, 255, 255);
$btn-slider-default: rgba(255,255,255, .2);
//slider

//team

//contacts
$bg-contacts: rgb(129, 122, 81);
$contacts-link: #000;
$contacts-text:rgb(240,240,240);

//contacts

//footer
$bg-footer: rgb(30, 30, 30);
$footer-text: rgb(240,240,240);

